/Enc63-73-Collecciones/Enc63-73-Otros/Enc63-73-Extra/build/
/Enc63-73-Collecciones/Enc63-73-Otros/Enc63-73-Extra/nbproject/private/
/Enc40-60-JavaPOO/Enc40-60-Ejerc14/build/
/Enc63-73-Collecciones/Enc63-73-Ejerc05/build/
/Enc74-84-Herencia/Enc74-84-Ejerc02/build/
/Enc74-84-Herencia/Enc74-84-EjercExtra01/build/
/Enc74-84-Herencia/Enc74-84-EjercExtra01/nbproject/private/
/Enc74-84-Herencia/Enc74-84-Ejerc01/build/
/1-UtilesDeUsoGeneral/build/
/Enc63-73-Collecciones/Enc63-73-Ejerc03/build/
/Enc61-62-JUnit/Enc61-62-Ejerc01/build/
/Enc74-84-Relaciones/Enc74-84-Ejerc03/build/